<footer class="container">
    <div class="row text-center icons">
        <div class="col-12">
            <a href="#" class="icon-wrap">
                <img class="icon" src="/images/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="#" class="icon-wrap">
                <img class="icon" src="/images/icons/youtube.svg" alt="Youtube">
            </a>
            <a href="#" class="icon-wrap">
                <img class="icon" src="/images/icons/twitter.svg" alt="Twitter">
            </a>
        </div>
    </div>
    <div class="row text-center copyright">
        <div class="col-12">
            &copy; Disney.com. Inc
        </div>
    </div>
</footer>
