<header class="container subpage">
    <div class="nav-wrap row justify-content-end text-center">
        <div class="col-12 col-md-4 col-lg-3 logo-wrap">
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="offset-0 col-12 offset-md-1 col-md-7 offset-lg-3 col-lg-6">
            <div class="row">
                {{#movies}}
                <div class="col-12 col-sm-4">
                    <a class="nav-item {{#selected}}active{{/selected}}" href="/movie/{{id}}">{{shortname}}</a>
                </div>
                {{/movies}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 banner">
            <img src="/images/{{movie.banner}}" alt="{{movie.shortname}} Banner">
        </div>
    </div>
    <div class="btn-wrap text-center">
        <a href="#">Start</a>
    </div>
</header>