header.subpage .nav-wrap {
  background-color: #6F97D8; }
  header.subpage .nav-wrap a.nav-item {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.15); }
    header.subpage .nav-wrap a.nav-item:hover {
      color: #6F97D8;
      background-color: #FFF; }
    header.subpage .nav-wrap a.nav-item.active {
      font-weight: bold;
      border-color: #FFF; }

header.subpage .banner {
  padding: 0; }
  header.subpage .banner img {
    display: block;
    width: 100%; }

header.subpage .btn-wrap {
  bottom: 1.5em; }
  header.subpage .btn-wrap a {
    margin-left: 40%;
    background-color: #1780C2;
    width: 10em;
    box-shadow: 0 0 .5em #FFF; }
    header.subpage .btn-wrap a:hover {
      text-shadow: 0 0 .5em #1780C2;
      box-shadow: 0 0 .5em #1780C2; }

main.subpage {
  padding-top: 2em;
  padding-bottom: 2em; }
  main.subpage .poster-wrap img {
    display: block;
    width: 100%; }
  main.subpage .poster-wrap ul {
    text-align: center;
    padding: 1em;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold; }
    main.subpage .poster-wrap ul li {
      padding: .2em 0; }
  main.subpage .descr-wrap h2 {
    color: #1780C2;
    font-size: 2.5em;
    font-weight: bold; }
  main.subpage .descr-wrap p {
    font-size: 1.05em;
    text-align: justify;
    padding: 2em 1em; }
  main.subpage .descr-wrap h3 {
    font-size: 1.5em;
    font-weight: bold; }
  main.subpage .descr-wrap .characters {
    padding: 2em 0; }
    main.subpage .descr-wrap .characters .character {
      width: 45%;
      display: inline-block; }
      main.subpage .descr-wrap .characters .character img {
        display: block;
        width: 100%;
        border-radius: 50%;
        transition: transform .2s, box-shadow .4s; }
      main.subpage .descr-wrap .characters .character:hover img {
        box-shadow: 0.5em 0.5em 0.5em rgba(23, 128, 194, 0.25);
        transition: transform .2s, box-shadow .2s;
        transform: translate3d(-0.5em, -0.5em, 0); }
      main.subpage .descr-wrap .characters .character + .character {
        margin-left: 5%; }
      main.subpage .descr-wrap .characters .character .caption {
        padding: .5em 0;
        font-size: 1.2em;
        font-weight: bold; }

@media (min-width: 768px) {
  main.subpage .poster-wrap ul {
    text-align: left; }
  main.subpage .descr-wrap .characters img {
    width: 80%; }
  main.subpage .descr-wrap .characters .character {
    width: 35%; }
    main.subpage .descr-wrap .characters .character + .character {
      margin-left: 10%; } }
