footer {
    padding: {
        top: 2em;
        bottom: 2em;
    }
    color: #FFF;
    background: {
        color: #BAC7DA;
    }
    .icons {
        .icon-wrap+.icon-wrap {
            margin-left: 2em;
        }
        .icon-wrap {
            img.icon {
                width: 2em;
                border: {
                    radius: 50%;
                }
            }
            &:hover img.icon {
                box-shadow: .2em .2em .2em rgba(23, 128, 194, .25);
                transition: transform .2s, box-shadow .2s;
                transform: translate3d(-.2em, -.2em, 0);
            }
        }
    }
    .copyright {
        margin-top: 1em;
    }
}